.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.appButton {
  width: 30%;
  background-color: blue;
  padding: 10px;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  border: 1px solid blue;
}

.courseList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
